{% extends 'twitter/base.html' %}
{% load static %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="{% static 'twitter/comment_form.css' %}">
<title>{{title}}</title>
{% endblock %}
<!-- style="background-color: #cccccc"-->
{% block content %}

<div class="form-container">
    <div class="form-outer">
        <div class="home-header">
            <span class="material-icons-outlined back-button"
                  onclick="go_back()">arrow_back</span>
        </div>
        <div class="post-container">
            <div class="post-profile-div">
                <img src="{% static 'media/profiles/default.png'%}" width="45" height="45">
            </div>
            <div class="post-body">
                <div class="post-head">
                    <span class="post-author"><a class="a1" href="{% url 'profile' parent_post.author.username %}">{{parent_post.author.first_name}}</a></span>
                    <span class="grayed-text">&nbsp;@{{parent_post.author.username}}</span>
                    <span class="grayed-text">&nbsp;·&nbsp;{{parent_post.timestamp|timesince}}</span>
                </div>
                <div class="post-text">
                    {{parent_post.content}}
                </div>
                {% if replying_to_other %}
                    <div class="replying-to">
                        <span class="grayed-text">Replying to <span class="grayed-text"></span>@{{parent_post.author.username}}</span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="tweet-area">
            <div class="profile-pic">
                <img src="{% static 'media/profiles/default.png'%}" width="45" height="45">
            </div>
            <div class="tweet-box">
                <form method="post">
                    {% csrf_token %}
                    <textarea id="content" class="tweet-input" maxlength="280" data-emojiable="true" placeholder="{{placeholder}}"></textarea>
                    <div class="tweet-control">
                        <input type="submit" value="Tweet" class="tweet-button"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    const go_back = () => {
        if ('referrer' in document) {
            window.location = document.referrer;
        } else {
            window.history.back();
        }
    }
</script>

{% endblock %}