{% extends 'twitter/base.html' %}
{% load static %}
{% load filters %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="{% static 'twitter/profile_tweets.css' %}">
<title>{{title}}</title>
{% endblock %}
<!-- style="background-color: #cccccc"-->
{% block content %}

<!--sidebar begins-->
<div class="sidebar">
    <i class="fab fa-twitter-square"
        onclick="window.location='{% url 'home' %}'"></i>
    <div class="sidebar-item"
        onclick="window.location='{% url 'home' %}'">
        <span class="material-icons-outlined">home</span>
        <h5>Home</h5>
    </div>
    <div class="sidebar-item {% if my_profile %} active {% endif %}"
        {% if my_profile is False %} onclick="window.location='{% url 'profile-tweets' request.user %}'" {% endif %}>
        <span class="material-icons-outlined">person_outline</span>
        <h5>Profile</h5>
    </div>
    <button class="tweet-button" onclick="window.location='{% url 'create-tweet' %}'">Tweet</button>
</div>
<!--sidebar ends-->
<div class="feed-area">
    <div class="home-header">
        <span class="material-icons-outlined back-button"
            onclick="go_back()">arrow_back</span>
        <div class="profile-head">
            {{user.first_name}}
        </div>
    </div>
    <div class="profile">
        <div class="cover-img"><img src="{% static 'media/profiles/default.png'%}" width="120" height="120"></div>
        <div class="profile-data">
            <div class="name-and-buttons">
                <div class="profile-name">
                    <div class="profile-display-name">{{user.first_name}}</div>
                    <div class="username">@{{user.username}}</div>
                </div>
                <div class="profile-buttons">
                    {% if my_profile is False %}
                    <button class="follow-button 
                    {% if followed_by_current_user %}followed{% endif %}"
                        onclick="follow(event,this,'{% url 'follow' user.id %}');">
                        {% if followed_by_current_user %}Unfollow{% else %}Follow{% endif %}
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="bio">
                <div>{{user.bio}}</div>
            <div>
                <span class="material-icons-outlined" class="username" 
                style="font-size: 18px; padding-top: 5px;">calendar_today</span>
                <span class="username">Joined {{user.date_joined|date:"F Y"}}</span>
            </div>
        
            </div>
        </div>
    </div>
    <div class="tabs">
        <div onclick="window.location='{% url 'profile-tweets' user.username %}';" class="tab-item">Tweets & replies</div>
        <div onclick="" class="tab-item active">Likes</div>
    </div>
    <div class="feed">
        {% for like in post_data %}    
        <div class="post">
            <div class="post-container"
                onclick="window.location='{% url 'tweet-detail' like.post.author.username like.post.id %}';">
                <div class="post-profile-div">
                    <a href="{% url 'profile' like.post.author.username %}">
                        <img src="{% static 'media/profiles/default.png'%}" width="45" height="45">
                    </a>
                </div>
                <div class="post-body">
                    <div class="post-head">
                        <span class="post-author"><a class="a1" href="{% url 'profile' like.post.author.username %}">{{like.post.author.first_name}}</a></span>
                        <span class="grayed-text">&nbsp;@{{like.post.author.username}}</span>
                        <span class="grayed-text">&nbsp;·&nbsp;{{like.post.timestamp|timesince|msu}}</span>
                    </div>
                    <div class="post-text">
                        {{like.post.content}}
                    </div>
                    <div class="post-reaction">
                        <div class="post-button" 
                            onclick="comment_on_post(event,'{% url 'comment' like.post.author.username like.post.id %}');">
                            <span class="material-icons-outlined">mode_comment</span>
                            <a class="reaction-count">{% if like.cmt_count != 0 %} {{like.cmt_count}} {% endif %}</a>
                        </div>
                        <div class="post-button {% if like.rtd_by_me %} retweeted {% endif %}"
                            onclick="retweet_post(event, this, '{% url 'retweet' like.post.id %}')">
                            <span class="material-icons-outlined">repeat</span>
                            <a class="reaction-count">{% if like.rt_count != 0 %} {{like.rt_count}} {% endif %}</a>
                        </div>
                        <div class="post-button {% if like.liked_by_me %} liked {% endif %}"
                            onclick="like_post(event, this, '{% url 'like' like.post.id %}')">
                            <span class="material-icons-outlined">favorite_border</span>
                            <a class="reaction-count">{% if like.like_count != 0 %} {{like.like_count}} {% endif %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="right-pane">
    <div class="blank-div"></div>
    <form method='POST' action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-secondary btn-block logout" type="submit"
            style="color: #657786;">
            <span class="material-icons-outlined">
                logout
            </span>
        </button>
    </form>
</div>

<script>
const go_back = () => {
        if ('referrer' in document) {
            window.location = document.referrer;
        } else {
            window.history.back();
        }
    }
const check_zero = (str) => {
    if(str == '0')
        str = '';
    return str;
}
const check_empty = (str) => {
    if (str == '')
        str = '0';
    return str;
}

const comment_on_post = (event, url) => {
    event.stopPropagation();
    event.preventDefault();
    window.location = url;
}

const like_post = async (event, elem, url) => {
    liked = elem.classList.contains("liked");
    event.stopPropagation();
    event.preventDefault();
    like_text = elem.children[1].textContent

    if (liked){
        likes = check_zero(parseInt(like_text) - 1);      // undo retweet
    } else {
        likes = parseInt(check_empty(like_text)) + 1;       // retweet
    }
    elem.children[1].textContent = likes
    elem.classList.toggle("liked");

    await axios.post(url,{
                        'value': (liked ? -1 : 1),
                        })
                .then((res) => {
                    if(res['likes'] == 0){             // Retweet unsuccessful, undo element change
                        if(liked){
                            likes += 1;
                        } else {
                            likes -= 1;
                        }
                        elem.children[1].textContent = likes
                        elem.classList.toggle("liked");
                    }
                })
                .catch((err) => {
                    console.log("err")
                });
    return true;
}

const retweet_post = async (event, elem, url) => {
    retweeted = elem.classList.contains("retweeted");
    rt_text = elem.children[1].textContent
    event.stopPropagation();

    if (retweeted){
        retweets = check_zero(parseInt(rt_text) - 1);      // undo retweet
    } else {
        retweets = parseInt(check_empty(rt_text)) + 1;       // retweet
    }
    elem.children[1].textContent = retweets
    elem.classList.toggle("retweeted");

    await axios.post(url,{
                        'value': 1
                        })
                .then((res) => {
                    if(res['retweets'] == 0){             // Retweet unsuccessful, undo element change
                        if(retweeted){
                            retweets += 1;
                        } else {
                            retweets -= 1;
                        }
                        elem.children[1].textContent = retweets
                        elem.classList.toggle("retweeted");
                    }
                });
    return true;
}
    const follow = async (event, elem, url) => {
        event.stopPropagation();
        event.preventDefault();
        followed = elem.classList.contains("followed");
        
        if (followed) {
            action = "unfollow"
            elem.textContent = "Follow"
        } else {
            action = "follow"
            elem.textContent = "Unfollow"
        }
        elem.classList.toggle("followed");

        await axios.post(url, {
            'action': action,
            })
            .then((res) => {
                if (!res.data['success']) {         // Action unsuccessful, undo follow button change 
                    if (followed) {
                        elem.textContent = "Unfollow"
                    } else {
                        elem.textContent = "Follow"
                    }
                    elem.classList.toggle("followed");
                }
            })
            .catch((err)=>{
                console.log(err)
            }
        );
    }
    const logout = async (tweet_url) => {
        var result = confirm("Confirm logout?");
        if (result) {
            await axios.get(tweet_url)
                .then((res) => {
                    if (res['login_url'])
                        window.location = res['login_url'];
                })
                .catch((err) => {
                    console.log(err);
                });
        }
    }


</script>

{% endblock %}

