{% extends 'twitter/base.html' %}
{% load static %}
{% block head %}
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="{% static 'twitter/login.css'%}">
{% endblock %}

{% block content %}

<div class="text-center">
    <br/>
    <h1 style="color: #657786;">{{title}}</h1>
</div>
<div class="row h-75 d-flex justify-content-center">
    <div class="w-50 mt-5 p-5">
        <div class="form-group">
            <form id="sign-up-form" method="POST">
                {% csrf_token %}
                <div class='errorlist'>{{ form.non_field_errors }}</div>
                {% for field in form %}
                    <p>
                        {{ field }}
                        {% if field.errors %}
                            <div class='errorlist'>{{field.errors}}</div>
                        {% endif %}
                    </p>
                {% endfor %}
                <button type="submit" class="btn btn-outline-primary btn-block">Next</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}