{% extends 'twitter/base.html' %}
{% load static %}
{% load filters %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'twitter/tweet.css' %}">
<link rel="icon" style="fill: #50b7f5;" href="{% static 'twitter/twitter-square-brands.svg'%}" type="image/svg"/>
<title>{{title}}</title>
{% endblock %}
<!-- style="background-color: #cccccc"-->
{% block content %}

<!--sidebar begins-->
<div class="sidebar">
    <i class="fab fa-twitter-square" onclick="window.location='{% url 'home' %}'"></i>
    <div class="sidebar-item" onclick="window.location='{% url 'home' %}'">
        <span class="material-icons-outlined">home</span>
        <h5>Home</h5>
    </div>
    <div class="sidebar-item" onclick="window.location='{% url 'profile-tweets' user.username %}'">
        <span class="material-icons-outlined">person_outline</span>
        <h5>Profile</h5>
    </div>
    <button class="tweet-button" onclick="window.location='{% url 'create-tweet' %}'">Tweet</button>
</div>
<!--sidebar ends-->
<div class="feed-area">
    <div class="home-header">
        <span class="material-icons-outlined back-button" onclick="go_back()">arrow_back</span>
        <div class="tweet-head">
            Tweet
        </div>
    </div>

    <div class="post-container">
        <div class="post-profile-div">
            <div class="post-img-div">
                <img src="{% static 'media/profiles/default.png'%}" width="45" height="45">
            </div>

            <div class="post-head-container">
                <div class="post-head">
                    <div class="post-author">
                        <a class="a1" href="{% url 'profile' tweet.obj.author.username %}">
                            {{tweet.obj.author.first_name}}
                        </a>
                    </div>
                    <div class="grayed-text">@{{tweet.obj.author.username}}</div>
                </div>
                {% if user.id == tweet.obj.author.id %}

                <div class="menu" onclick="dropdown(event)">
                    <span class="material-icons-outlined">more_horiz</span>
                </div>
                <div class="dropdown-content">
                    <div id="dropdown-item" class="dropdown-item"
                        onclick="confirm_delete('{% url 'delete-tweet' tweet.obj.author.username tweet.obj.id %}','{{csrf_token}}');">
                        <span class="material-icons-outlined">
                            delete
                        </span>
                        <span class="dropdown-text">Delete</span>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
        <div class="post-body">
            <div class="post-text">
                {{tweet.obj.content}}
            </div>
            <div class="post-age">
                {{tweet.obj.timestamp|date:"g:i A"}}&nbsp;·&nbsp;{{tweet.obj.timestamp|date:"M n, Y"}}
            </div>
        </div>
        <div class="post-reaction">
            <div class="post-button"
                onclick="comment_on_post(event,'{% url 'comment' tweet.obj.author.username tweet.obj.id %}');">
                <span class="material-icons-outlined">mode_comment</span>
                <a class="post-reaction-count">{% if tweet.cmt_count != 0 %} {{tweet.cmt_count}} {% endif %}</a>
            </div>
            <div class="post-button {% if tweet.rtd_by_me %} retweeted {% endif %}"
                onclick="retweet_post(event, this, '{% url 'retweet' tweet.obj.id %}')">
                <span class="material-icons-outlined">repeat</span>
                <a class="post-reaction-count">{% if tweet.rt_count != 0 %} {{tweet.rt_count}} {% endif %}</a>
            </div>
            <div class="post-button {% if tweet.liked_by_me %} liked {% endif %}"
                onclick="like_post(event, this, '{% url 'like' tweet.obj.id %}')">
                <span class="material-icons-outlined">favorite_border</span>
                <a class="post-reaction-count">{% if tweet.like_count != 0 %} {{tweet.like_count}} {% endif %}</a>
            </div>
        </div>
    </div>
    <div style="height:15px;"></div>


    <div class="feed">
        {% for thread in threads %}
        <div class="cmt-thread">
            {% for comment in thread %}

            <div class="cmt-container"
                onclick="window.location='{% url 'tweet-detail' comment.obj.author.username comment.obj.id%}';">
                <div class="cmt-profile-div">
                    <img src="{% static 'media/profiles/default.png'%}" width="45" height="45">
                </div>
                <div class="cmt-body">
                    <div class="cmt-head">
                        <span class="cmt-author"><a class="a1"
                                href="{% url 'profile' comment.obj.author.username %}">{{comment.obj.author.first_name}}
                            </a></span>
                        <span
                            class="grayed-text">&nbsp;@{{comment.obj.author.username}}&nbsp;·&nbsp;{{comment.obj.timestamp|timesince|msu}}</span>
                    </div>
                    <div class="cmt-text">
                        {{comment.obj.content}}
                    </div>
                    <div class="cmt-reaction">
                        <div class="cmt-button"
                            onclick="comment_on_post(event,'{% url 'comment' comment.obj.author.username comment.obj.id %}');">
                            <span class="material-icons-outlined">mode_comment</span>
                            <a class="cmt-reaction-count">{% if comment.cmt_count != 0 %} {{comment.cmt_count}} {% endif %}</a>
                        </div>
                        <div class="cmt-button" {% if comment.rtd_by_me %} retweeted {% endif %}"
                            onclick="retweet_post(event, this, '{% url 'retweet' comment.obj.id %}')">
                            <span class="material-icons-outlined">repeat</span>
                            <a class="cmt-reaction-count">{% if comment.rt_count != 0 %} {{comment.rt_count}} {% endif %}</a>
                        </div>
                        <div class="cmt-button" {% if comment.liked_by_me %} liked {% endif %}"
                            onclick="like_post(event, this, '{% url 'like' comment.obj.id %}')">
                            <span class="material-icons-outlined">favorite_border</span>
                            <a class="cmt-reaction-count">{% if comment.like_count != 0 %} {{comment.like_count}} {% endif %}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <div style="height:15px;"></div>
    </div>
</div>

<div class="right-pane">
    <div class="blank-div"></div>
    <form method='POST' action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-secondary btn-block logout" type="submit" style="color: #657786;">
            <span class="material-icons-outlined">
                logout
            </span>
        </button>
    </form>
</div>

<script>
    const go_back = () => {
        console.log(document.referrer)
        if ('referrer' in document) {
            window.location = document.referrer;
        } else {
            window.history.back();
        }
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    const confirm_delete = async (tweet_url, csrftoken) => {
        var result = confirm("Want to delete?");
        if (result) {
            await axios.delete(tweet_url, {
                headers: { 'X-CSRFToken': csrftoken },
            })
                .then((res) => {
                    if (res.data.deleted == "true"){
                        go_back()}
                })
                .catch((err) => {
                    console.log(err);
                });
        }
    }
    const dropdown = (event) => {
        dropdown_element = document.getElementById("dropdown-item");
        dropdown_element.classList.toggle("show");
        event.stopPropagation();
        event.preventDefault();
    }

    window.onclick = function (event) {
        if (!event.target.matches('.dropdown-item')) {
            var dropdown_element = document.getElementById("dropdown-item");
            if (dropdown_element.classList.contains('show')) {
                dropdown_element.classList.remove('show');
            }
        }
    }

    const check_zero = (str) => {
        if (str == '0')
            str = '';
        return str;
    }
    const check_empty = (str) => {
        if (str == '')
            str = '0';
        return str;
    }

    const comment_on_post = (event, url) => {
        event.stopPropagation();
        event.preventDefault();
        window.location = url;
    }

    const like_post = async (event, elem, url) => {
        liked = elem.classList.contains("liked");
        like_text = elem.children[1].textContent
        event.stopPropagation();
        event.preventDefault();

        if (liked) {
            likes = check_zero(parseInt(like_text) - 1);      // undo retweet
        } else {
            likes = parseInt(check_empty(like_text)) + 1;       // retweet
        }
        elem.children[1].textContent = likes
        elem.classList.toggle("liked");

        await axios.post(url, {
            'value': (liked ? -1 : 1),
        })
            .then((res) => {
                if (res['likes'] == 0) {             // Retweet unsuccessful, undo element change
                    if (liked) {
                        likes += 1;
                    } else {
                        likes -= 1;
                    }
                    elem.children[1].textContent = likes
                    elem.classList.toggle("liked");
                }
            });
    }

    const retweet_post = async (event, elem, url) => {
        retweeted = elem.classList.contains("retweeted");
        rt_text = elem.children[1].textContent
        event.stopPropagation();
        event.preventDefault();

        if (retweeted) {
            retweets = check_zero(parseInt(rt_text) - 1);      // undo retweet
        } else {
            retweets = parseInt(check_empty(rt_text)) + 1;       // retweet
        }
        elem.children[1].textContent = retweets
        elem.classList.toggle("retweeted");

        await axios.post(url, {
            'value': 1
        })
            .then((res) => {
                if (res['retweets'] == 0) {             // Retweet unsuccessful, undo element change
                    if (retweeted) {
                        retweets += 1;
                    } else {
                        retweets -= 1;
                    }
                    elem.children[1].textContent = retweets
                    elem.classList.toggle("retweeted");
                }
            });
    }

    const logout = async (tweet_url) => {
        var result = confirm("Confirm logout?");
        if (result) {
            await axios.get(tweet_url)
                .then((res) => {
                    if (res['login_url'])
                        window.location = res['login_url'];
                })
                .catch((err) => {
                    console.log(err);
                });
        }
    }

</script>

{% endblock %}