{% extends 'twitter/base.html' %}
{% load static %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="{% static 'twitter/tweet_form.css' %}">
<title>{{title}}</title>
{% endblock %}
<!-- style="background-color: #cccccc"-->
{% block content %}

<div class="form-container">
    <div class="form-outer">
        <div class="home-header">
            <span class="material-icons-outlined back-button"
                  onclick="go_back()">arrow_back</span>
        </div>
        <div class="tweet-area">
            <div class="profile-pic">
                <img src="{% static 'media/profiles/default.png'%}" width="45" height="45">
            </div>
            <div class="tweet-box">
                <form method="post">
                    {% csrf_token %}
                    <textarea name="content" data-emojiable="true" class="tweet-input" maxlength="280" placeholder="What's happening?"></textarea>
                    <div class="tweet-control">
                        <input type="submit" value="Tweet" class="tweet-button"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const remove_recent = () => {
        emoji_items = document.getElementsByClassName("emoji-items")[0];
        console.log("reached")
        while (emoji_items.firstChild) {
            emoji_items.lastChild.remove()
        }
    }
    window.onload = function() {
        emoji_menu = document.getElementsByClassName("emoji-picker")[0];
        emoji_menu.addEventListener("click", remove_recent, true);
        emoji_menu_tabs = document.getElementsByClassName("emoji-menu-tab");
        for (let tab of emoji_menu_tabs){
            tab.replaceWith(tab.cloneNode(true));
            tab.addEventListener("onmouseup", remove_recent,true);
        }
        emoji_recent = document.getElementsByClassName("icon-recent")[0]
        if(!emoji_recent)
            emoji_recent = document.getElementsByClassName("icon-recent-selected")[0]
        emoji_recent.addEventListener("onchange", remove_recent, true)
    }
    const go_back = () => {
        if ('referrer' in document) {
            window.location = document.referrer;
        } else {
            window.history.back();
        }
    }
</script>
{% endblock %}
