{% extends 'twitter/base.html' %}
{% load static %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'twitter/tweet_form.css' %}">
<link rel="icon" style="fill: #50b7f5;" href="{% static 'twitter/twitter-square-brands.svg'%}" type="image/svg"/>
<title>{{title}}</title>
{% endblock %}
<!-- style="background-color: #cccccc"-->
{% block content %}

<div class="form-container">
    <div class="form-outer">
        <div class="home-header">
            <span class="material-icons-outlined back-button"
                  onclick="go_back()">arrow_back</span>
        </div>
        <div class="tweet-area">
            <div class="profile-pic">
                <img src="{% static 'media/profiles/default.png'%}" width="45" height="45">
            </div>
            <div class="tweet-box">
                <form method="post">
                    {% csrf_token %}
                    <textarea name="content" class="tweet-input" maxlength="280" placeholder="What's happening?"></textarea>
                    <div class="tweet-control">
                        <input type="submit" value="Tweet" class="tweet-button"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const go_back = () => {
        if ('referrer' in document) {
            window.location = document.referrer;
        } else {
            window.history.back();
        }
    }
</script>
{% endblock %}
