* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    --light-blue: #b9e1fa;
    --blue: #50b7f5;
    --dark-blue: #45a6e4;
    --highlight-blue: #9dd2f3;
    --gray-one: #F5F8FA;
    --gray-highlight: #EEEFF0;
    --gray-two: #E1E8ED;
    --gray-three: #AAB8C2;
    --gray-four: #657786;
    --black: #14171A;

    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

.sidebar {
    border-right: 1px solid var(--gray-two);
    flex: 0.2;
  
    min-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
  }

.sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-item h5 {
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
    position: relative;
    top:5px;
}

.sidebar-item .material-icons-outlined {
    padding: 10px;
}

.fa-twitter-square {
    padding: 5px 5px;
    color: var(--blue);
    font-size: 40px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-twitter-square:hover {
    background-color: var(--gray-two);
}

.sidebar-item.active{
    color: var(--blue);
}
.sidebar-item:hover {
    background-color: var(--gray-two);
    border-radius: 15px;
    color: var(--blue);
    transition: color 180ms ease-out;
}

.tweet-button {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: var(--blue);
    border: none;
    color: white;
    font-weight: 900;
    margin-top: 10px;
    cursor: pointer;
}

.tweet-button:hover {
    background-color: var(--dark-blue);
}

/**************************************************************************************/

.feed-area {
    width: 50%;
    max-width: 50%;
    border: 1px solid var(--gray-two);
    border-bottom: none;
    overflow: auto;
}
.home-header {
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid var(--gray-two);
    padding-top: 5px;
}
.back-button {
    padding: 5px;
    margin: 5px;
    color: var(--blue);
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    bottom: 7px;
}
.back-button:hover{
    background-color: var(--gray-two);
}
.profile-head {
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
}
/**************************************************************************************/
.name-and-buttons {
    display: flex;
    justify-content: space-between;
}
.cover-img{
    background-color: var(--gray-two);
    height: 180px;
}
.profile img{
    background-color: var(--gray-one);
    border-radius: 25px;
    object-fit: cover;
    margin-top: 55px;
    margin-left: 5px;
}
.profile-data{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.profile-name{
    display: inline-block;
}
.profile-display-name {
    font-weight: 500;
    font-size: 18px;
}
.profile-buttons{
    display: inline-block;
}
.bio {
    font-size: 15px;
}
.username {
    font-size: 15px;
    color: var(--gray-four);
    position: relative;
    bottom: 2px;
}

.follow-button {
    width: 100px;
    height: 30px;
    border-radius: 12px;
    background-color: var(--blue);
    border: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.follow-button:hover {
    background-color: var(--dark-blue);
}
/**************************************************************************************/

.tabs {
    display: flex;
    border-top: 1px solid var(--gray-two);
    height: 40px;
}
.tab-item{
    color: var(--gray-four);
    display: inline-block;
    text-align: center;
    width: 50%;
    padding-top: 7px;
    font-weight: 500;
    cursor: pointer;
}
.tab-item:hover{
    background-color: var(--gray-two);
}
.tab-item.active {
    color: var(--blue);
}


/**********************************************************************************/


.post-container{
    display: flex;
    border: 1px solid var(--gray-two);
    cursor: pointer;
}
.post-container:hover{
    background-color: var(--gray-highlight);
}

.post-profile-div {
    width: 45px;
    margin: 10px;
}
.post-profile-div img{
    background-color: var(--gray-one);
    border-radius: 15px;
    object-fit: cover;
}
.post-body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.post-author {
    font-weight: 600;
    font-size: 15px;
}
.grayed-text {
    font-size: 15px;
    color: var(--gray-four);
}
.post-text {
    font-size: 15px;
}
.post-reaction{
    margin-top: 10px;
}
.post-button {
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 25px;
    cursor: pointer;
    margin-left: 5vw;
}
.post-button:hover {
    background-color: var(--gray-two);
    border-radius: 15px;
    transition: color 180ms ease-out;
}
.liked{
    color: var(--blue);
}
.retweeted{
    color: var(--blue);
}
.post-button span{
    font-size: 18px;
    position: relative;
    top: 3px;
}
.reaction-count {
    font-size: 15px;
    padding-left: 5px;
    position: relative;
    bottom: 1px;
}




