* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    --blue: #50b7f5;
    --bg-blue: #81b6d6;
    --dark-blue: #45a6e4;
    --gray-one: #F5F8FA;
    --gray-two: #E1E8ED;
    --gray-three: #AAB8C2;
    --gray-four: #657786;
    --black: #14171A;

    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

.sidebar {
    border-right: 1px solid var(--gray-two);
    flex: 0.2;
  
    min-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
  }

.sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-item h5 {
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
    position: relative;
    top:5px;
}

.sidebar-item .material-icons-outlined {
    padding: 10px;
}

.fa-twitter-square {
    padding: 5px 5px;
    color: var(--blue);
    font-size: 40px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-twitter-square:hover {
    background-color: var(--gray-two);
}

.sidebar-item.active{
    color: var(--blue);
}
.sidebar-item:hover {
    background-color: var(--gray-two);
    border-radius: 15px;
    color: var(--blue);
    transition: color 180ms ease-out;
}

.tweet-button {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: var(--blue);
    border: none;
    color: white;
    font-weight: 900;
    margin-top: 10px;
}

.tweet-button:hover {
    background-color: var(--dark-blue);
}

/**************************************************************************************/

.feed-area {
    width: 50%;
    max-width: 50%;
    border-right: 1px solid var(--gray-two);
}

.home-header {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--gray-two);
    padding-top: 5px;
}
.back-button {
    padding: 5px;
    margin: 5px;
    color: var(--blue);
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    bottom: 7px;
}
.back-button:hover{
    background-color: var(--gray-two);
}
.tweet-head {
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
}
/**********************************************************************************/
/* For the original post */
.ht-20{
    height: 20px;
}
.post-container{
    border: 1px solid var(--gray-two);
    padding: 16px;
}
.post-profile-div {
    display: flex;
}
.post-image-div{
    width: 45px;
    height: 45px;
    margin: 10px;
}
.post-head{
    padding-left: 10px;
}
.post-profile-div img{
    background-color: var(--gray-one);
    border-radius: 15px;
    object-fit: cover;
}
.post-body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.post-author {
    font-weight: 600;
    font-size: 15px;
}
.grayed-text {
    font-size: 15px;
    color: var(--gray-four);
}
.post-text {
    font-size: 20px;
}
.post-age {
    color: var(--gray-four);
    padding-top: 5px;
    padding-bottom: 5px;
}
.post-reaction{
    border-top: 1px solid var(--gray-two);
    padding-top: 15px;
}
.post-button {
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-left: 6vw;
}
.post-button:hover {
    background-color: var(--gray-two);
    border-radius: 15px;
    color: var(--blue);
    transition: color 180ms ease-out;
}
.post-button span{
    font-size: 18px;
}
.post-reaction-count {
    font-size: 15px;
    padding-left: 5px;
}
.post-button span {
    position: relative;
    top: 4px;
}



/**********************************************************************************/
/* For post replies */

.cmt-bundle{
    border: 1px solid var(--gray-two);
}
.cmt-container{
    display: flex;
    cursor: pointer;
}
.cmt-container:hover{
    background-color: var(--gray-two);
}

.cmt-profile-div {
    width: 45px;
    margin: 10px;
}
.cmt-profile-div img{
    background-color: var(--gray-one);
    border-radius: 15px;
    object-fit: cover;
}
.cmt-body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.cmt-author {
    font-weight: 600;
    font-size: 15px;
}
.cmt-text {
    font-size: 15px;
}
.cmt-reaction{
    margin-top: 10px;
}
.cmt-button {
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 20px;
    cursor: pointer;
    margin-left: 5vw;
}
.cmt-button:hover {
    background-color: var(--gray-two);
    border-radius: 15px;
    color: var(--blue);
    transition: color 180ms ease-out;
}
.cmt-button span{
    font-size: 18px;
}
.cmt-reaction-count {
    font-size: 15px;
    padding-left: 5px;
    position: relative;
    bottom: 4px;
}



